#container{
    width: 80%;
    margin: 0 auto;
}

.galeria {
    width: 30%;
    margin: 1.4%;
}

h1{
    font-size: 90%;
    margin-left: 1.4%;
    margin-top: 0;
    width: 96%;
    padding: 0 0;

}

.foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
}

body{
    background-color: black;
    color: white;
    font-size: 30%;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    margin:0;
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: white;
}

.row {
    position: sticky;
    display: flex;
    height: 50px;    
    border-bottom: 4px solid rgb(116, 29, 29);
    margin-left: 1.4%;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 40px;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    width: 96%;
    padding-bottom: 7px;

  }
.column1{
    width: 50%;
    text-align: right;


}
.column2{
    width: 50%;
    text-align: left;
}